[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "CSIndicators"]
	path = CSIndicators
	url = https://github.com/cran/CSIndicators
	shallow = true
	registered = true
[submodule "CSTools"]
	path = CSTools
	url = https://github.com/cran/CSTools
	shallow = true
	registered = true
